.form {
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fadein {
    transition: all 1s;
    animation: fadein .1s ease-in;
}  

.fadeout {
    transition: all 1s;
    animation: fadeout .1s ease-out;
}

@keyframes fadein {
    0%{
        transform: scale(0.9) translate(-50%, -50%);
        opacity: .8;
    }
    100%{
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
}
@keyframes fadeout {
    0%{
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: scale(0) translate(-50%, -50%);
        opacity: .1;
    }
}

.backdrop {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(2px);
    width: 100%;
    height: calc(100% - 67px);
}


@media (min-width: 992px) {
    .form {
        max-width: 30%;
        margin: auto;
    }
}